<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/config_network"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce_penjualan_daging"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".activity.DetailProdukActivity"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BaruActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MasukActivity" />
        <activity android:name="com.example.e_commerce_penjualan_daging.activity.PengirimanActivity" />
        <activity android:name="com.example.e_commerce_penjualan_daging.activity.ListAlamatActivity" />
        <activity android:name="com.example.e_commerce_penjualan_daging.activity.TambahAlamatActivity" >

        </activity>
        <activity android:name="com.example.e_commerce_penjualan_daging.activity.PembayaranActivity" />
    </application>

</manifest>